:root{
    --dark: #202020;
    --light: #f3f3f3;
    --light-dark: #a5a5a5;
    --accent: #30ebf8;
}
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    background-color: var(--dark);
}
.flex-container-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 33px 10%;
    min-width: 540px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 1000;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    color: var(--light);
    font-size: 50px;
    font-weight: 700;
}
#circle-logo{
    color: var(--accent);
}

.nav-list{
    display: flex;
    gap: 2rem;
    text-align: center;
}

.book-now{
    color: var(--light);
    justify-self: flex-end;
    border:1px solid var(--light);
    padding: 8px 20px;
    border-radius: 30px;
    transition: all .5s ease-out;
}

.book-now:hover{
    background-color: var(--light);
    color: var(--dark);
    border:1px solid transparent;
}

.nav-list a{
    color: var(--light);
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all .4s ease-out;
}

.nav-list a:hover{
    border-bottom: 2px solid var(--accent);
    
}
.hero-img{
    width: 500px;
    justify-self: end;
}

.grid-hero-container{
    background: linear-gradient(220deg, #101c22 0%, #182a2f 28.53%, #1d2021 75.52%);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 90% 10%;
    position: relative;
    align-items: center;
}
.hero-text{
    padding: 50px 12%;
}

.hero-text h5{
    margin-bottom: 10px;
}

.hero-text h4{
    margin-bottom: 15px;
    font-size: 62px;
    font-family: 'Herr Von Muellerhoff', cursive;
}
.hero-text p{
    margin-bottom: 30px;
}
.hero-text a{
    color: var(--light);
    border-radius: 30px;
    padding: 12px 30px;
    border: 1px solid var(--light);
    line-height: 5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transition: all .55s ease;
}
.hero-text a:hover{
    background-color: var(--accent) ;
    color: var(--dark);
    border: 1px solid transparent;
}

.hero-text a.hero-btn-2{
    color: var(--dark);
    background-color: var(--light) ;
    border-radius: 30px;
    padding: 12px 40px;
    border: 1px solid transparent;
    line-height: 5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    transition: all .55s ease;
}

.hero-text a.hero-btn-2:hover{
    background-color: var(--accent) ;
    color: var(--dark);
    border: 1px solid var(--dark);
    transform: translateX(8px);
}

#hero-btm-wave{
    grid-column: span 2;
}
.hero-text{
    color: var(--light);
}

.hero-social-icons{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 200%);
    padding: 0 9%;
}
.hero-social-icons svg{
    display: inline-block;
    margin: 26px;
    fill: var(--light-dark);
    transition: all .5s ease;
}

.hero-social-icons svg:hover{
    transform: translateY(-8px);
    fill: var(--light);
}

@media (max-width: 1400px){
    .hero-img{
        width: 400px;
        justify-self: end;
        transition: all .8s ease-in-out;
    }
    .flex-container-navbar{
        gap: 40px;
        padding: 33px 5%;
        transition: all .8s ease-in-out;
        
    }
    .hero-text{
        padding: 50px 30px;
        transition: all .8s ease-in-out;
    }
}
@media (max-width: 1200px){
    .hero-img{
        width: 350px;
        justify-self: end;
        transition: all .8s ease-in-out;
        
    }
    .nav-list a{
        color: transparent;
        display: block;
        transition: all .8s ease-out;
    }
     .nav-list {
        position: absolute;
        top: -100%;
    } 
    .logo{
        font-size: 40px;
        transition: all .8s ease-out;
    }
    .book-now{
        font-size: 15px;
        transition: all .8s ease-out;
    }
   

    /* .grid-hero-container{
        width: 100%;
        gap: 1rem;
        grid-template-columns: 1fr
        
    } */
   
}

@media (max-width: 992px){
    .hero-text a,
    .hero-text a.hero-btn-2{
        font-size: 10px;
        font-weight: 800;
        transition: all .55s ease;
    }
    .grid-hero-container{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        row-gap: 4rem;
        transition: all .8s ease;
    }
    .hero-text{
        grid-area: 1/1/2/2;
        text-align: center;
        position: relative;
        top: 25%;
    }
    .hero-img{
        grid-area: 2/1/3/2;
        width: 400px;
        justify-self: end;
    }
    .grid-hero-container{
        top: 50%;
    }
    .hero-social-icons{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -15%;
        left: -12%;
        width: 20%;
        
    }
    .hero-social-icons svg:hover{
        transform: translatex(8px);
        fill: var(--light);
    }
    #hero-btm-wave{
        grid-area: 2/1/-1/-1;
        position: absolute;
        bottom: 0%;
    }
}




